<form name="LoginForm" class="form-signin" novalidate="">
    <ion-view view-title="Please Sign-In">
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email Address</span>
                    <input name="email" type="text" data-ng-model="loginCtrl.loginField.email" id="inputEmail" placeholder="Email address" required="" data-ng-pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/">
                    <span data-ng-if="(LoginForm.$submitted || LoginForm.email.$touched) && LoginForm.email.$error.required" class="error-block">Email Address Required.</span>
                    <span data-ng-if="(LoginForm.$submitted || LoginForm.email.$touched) && LoginForm.email.$error.pattern" class="error-block">Enter valid email address.</span>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input name="password" data-ng-model="loginCtrl.loginField.password" data-ng-min-length="8" type="password" id="inputPassword" placeholder="Password" required="">
                    <span data-ng-if="(LoginForm.$submitted || LoginForm.password.$touched) && LoginForm.password.$error.required" class="error-block">Password Required.</span>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive" data-ng-click="loginCtrl.submitForm(LoginForm)" type="submit">Sign-In</button>
               <!--  <p class="text-center">
                    <a href="#/forgot-password">Forgot password</a>
                </p> -->
            </div>
        </ion-content>
    </ion-view>
</form>
